CompileFlags:
  Remove:
    - -fext-numeric-literals
    - -mno-direct-extern-access
  Add:
    - -std=c++2c

---

Completion:
  HeaderInsertion: Never

---

If:
  PathMatch: .*/crv/kernel/cxx/.*

CompileFlags:
  Add: [-x, c++-header]